<a href="https://colab.research.google.com/github/WriterTyper/hypotheses-steps/blob/main/Hypotheses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(tidyverse)

In [ ]:
data <- read_csv("https://raw.githubusercontent.com/WriterTyper/hypotheses-steps/main/personality.csv")

In [ ]:
data

In [4]:
data %>%
 count(Type)

  Type n
1 A    20
2 B    20

In [5]:
data %>%
  summarize(mean_resp = mean(Serum_Cholesterol_Level, na.rm = TRUE))

  mean_resp
1 224.575

In [6]:
data %>% 
  group_by(Type) %>% 
  summarize(mean_resp = mean(Serum_Cholesterol_Level, na.rm = TRUE))

  Type mean_resp
1 A    245.05
2 B    204.10